  

    .logo{
        height: 30px;
    }
    .logo img{
        height: 100%;
    }

/*
.alert{
    background-color: white;
    color:black;
   border-color: white;
  ont-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.card{
    border-color: black;
}
body{
    background-color:white;
}
.col-4{
    background-color: white;
} */
/* *{
    background-color: azure;
} */